.card__top--work {
    background: $topcard-work url(../images/icon-work.svg) no-repeat right top;
}

.card__top--play {
    background: $topcard-play url(../images/icon-play.svg) no-repeat right top;
}

.card__top--study {
    background: $topcard-study url(../images/icon-study.svg) no-repeat right top;
}

.card__top--exercise {
    background: $topcard-exercise url(../images/icon-exercise.svg) no-repeat right top;
}

.card__top--social {
    background: $topcard-social url(../images//icon-social.svg) no-repeat right top;
}

.card__top--selfcare {
    background: $topcard-selfcare url(../images/icon-self-care.svg) no-repeat right top;
}